name: Network Bypass Runner
on:
  schedule:
    - cron: '0 */4 * * *' # اجرای خودکار هر ۴ ساعت برای پایداری ۲۴/۷ [۵۸۲]
  workflow_dispatch:      # امکان اجرای دستی در صورت قطع شدن [۵۸۳]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Proxy Core
        run: |
          # مرحله ۱: دانلود اسکریپت به یک فایل محلی [۷۲۱]
          curl -Ls https://raw.githubusercontent.com/yonggekkk/argosbx/main/argosbx.sh -o argosbx.sh
          
          # مرحله ۲: دادن مجوز اجرایی به فایل
          chmod +x argosbx.sh
          
          # مرحله ۳: اجرای اسکریپت با sudo و انتقال متغیرهای محیطی [۱۷۴]
          sudo -E ./argosbx.sh
        env:
          vlpt: 2053                # استفاده از پورت غیرسیستمی برای پایداری [۶۴۶، ۶۷۰]
          argo: vwpt                # فعال‌سازی تونل آرگو (توصیه شده برای گیت‌هاب) [۵۸۷، ۶۸۳]
          uuid: e69cc705-8d07-4131-8ec7-3b6e797207ff
          cf_token: ${{ secrets.CF_API_TOKEN }}
          cf_zone: ${{ secrets.CF_ZONE_ID }}
